body {
    background: white;
    background-color: #EDEBD7;
    text-align: center;
    font-family: 'Raleway', sans-serif;
  }

h1 {
    color: #423E37;
}

h2 {
    color: #423E37;
}

h3 {
    color: #423E37;
}

p{
    color: #423E37;
}


select {
    width: 20rem;
    background-color: #DCD9D9;
    border: #423E37 2px solid;
    padding: 5px;

}

select>option {
    background-color: #DCD9D9;
}